body{
    background-color: limegreen;
}

#container{
    background-color: yellow;
    border: 5px solid black;
    height: 235px;
    width: 750px;
    margin: auto;
    text-align: center;
    font-size: 20px;

}

#input{
    width: 100px;
    margin: 25px auto;
}

#btn{
    margin: 25px auto auto 5px;
}